@media screen and (max-width: 593px) {
  .filmAanbodItem{
    float: none !important;
    width: 90% !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 660px) {
  .verder_winkelen{
    width: 52%;
  }
  .film_info{
    width: 100% !important;
  }
  .details img{
    float: none !important;
    margin: 0 auto !important;
    padding-right: 0 !important;
  }
  input.btn.btn-success.bestel {
    width: 100% !important;
  }
}
@media screen and (max-width: 765px) {
  .dropdown_cart{
    display: none !important;
  }
  .table_titel{
    display: none !important;
  }
  .table_omschr{
    display: none !important;
  }
  .mobile_cart_right{
    display: block !important;
    float: right;
    margin-right: 50px;
    margin-left: -120px;
    margin-top: -1px;
    margin-bottom: 0;
  }
  .left{
    float: none !important;
  }
  .right{
    width: 100% !important;
  }
  .admin_menu {
    width: 100% !important;
  }
}

@media screen and (max-width: 992px) {
  a.btn.btn-success.terug_button {
      margin-top: -50px !important;
      width: 100% !important;
  }
  .filmThumbnail.filmAanbodFilm.col-md-3 {
      float: left;
      width: 50%;
      margin-bottom: 20px;
  }
  img.filmaanbod_img{
    width: 200px !important;
  }
}

@media screen and (max-width: 1200px) {
  a.btn.btn-primary.admin_menu{
    width: 100% !important;
  }
  .filmaanbod_img {
    width: 100% !important;
    height: 300px !important;
  }
}
a.btn.btn-primary.admin_menu {
    width: 13%;
}
a.btn.btn-primary.admin_menu.klant_menu {
    width: 50%;
}
select.form-control {
    color: red !important;
}
button.btn.btn-success.bestel.klopt_niet {
    background-color: rgba(150,153,153,.6) !important;
}
.personalInfo{
    font-size: 20px;
}
.mobile_cart_right{
  display: none;
}
.menu_right{
  float: right;
}
.filmAanbodPanel {
    height: 89vh;
}
.film_info {
    width: 50%;
    float: left;
}
.details img{
  float: left;
  width: 300px;
  height: 450px;
  padding-right: 20px;
}
.details p{
  margin-top: -5px;
  font-weight: 500;
}
.terug_button{
  float: left;
  background-color: rgb(0, 150, 136) !important;
  color: #f2f2f2 !important;
}
.terug_button:hover{
  background-color: rgba(150,153,153,.6) !important;
  color: white !important;
}
.filmDetails{
  margin-top: 80px;
}
img.img-responsive.cover {
    max-width: 350px;
}
.filmaanbod-terug{
  padding-right: 5px;
}
.bestel{
  float: left;
  background-color: rgb(0, 150, 136) !important;
  color: #f2f2f2 !important;
}
.bestel:hover{
  background-color: rgba(150,153,153,.6) !important;
  color: white !important;
}
.bestel-plus{
  padding-right: 5px;
}
.registreer-panel{
  width: 50%;
  margin: 0 auto;
}
.login-panel{
  width: 50%;
  margin: 0 auto;
}
.form-knop{
  color: #fff !important;
  background-color: rgba(0, 150, 136, 1) !important;
}
.form-knop:hover{
  background-color: rgba(153, 153, 153, 0.2) !important;
  color: rgba(0, 150, 136, 1) !important;
}
.alert{
  background-color: rgba(225,30,1, 0.84) !important;
}
.succes {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #00cc00 !important;
    color: rgba(255,255,255,1);
}
.warning{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: rgba(237,95,0, 0.84) !important;
  color: rgba(255,255,255,1);
}
.blocked{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: rgba(255,0,0, 1) !important;
  color: rgba(255,255,255,1);
}
img.winkelmand_img {
    max-height: 155px;
}
.winkelmand_onder{
  float:right;
  padding-right: 20px;
}
i.fa.fa-trash-o {
    font-size: 23px !important;
    color: red !important;
}
button.btn.btn-success {
    margin-top: -5px;
}
a.menu_winkelmand {
    font-size: 20px;
    /*font-weight: bold;*/
}
.container-fluid.container {
    font-weight: normal;
}
.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 15px;
    text-align:center;
    padding-top:calc(43% - 30px);
    display:table-cell;
    vertical-align: middle;
}
.fa-pencil{
  font-size: 23px !important;
}
.fa-floppy-o{
  font-size: 23px !important;
}
.thumb{
  text-align: center;
}
.thumb_img {
  /*width: 100%;*/
  height: 350px;
  max-width: 235px;
}
.nieuweThumb {
  height: 300px;
}

.textfilmaanbod {
    font-size:22px;
}

.filmaanbodbestel {
  width:100%;
    height:100%;
}
.fa-ban{
  font-size: 22px;
  color: red;
}
.unblock{
  color: green;
}
.left{
  float: left;
  width: 35%;
  margin-right: 10px;
}
.right{
  width: 78%;
  float:left;
}
.green_count{
  color: green;
}
.orange_count{
  color: 	orange;
}
.red_count{
  color: red;
}
.eigenaar_right{
  padding: 0;
}
button.btn.btn-succes.left_button {
    color: rgba(45,62,75, 1);
}
.actief{
  background-color: mediumseagreen !important;
  color: white !important;
}
.actief .fa {
    color: white;
}

button.btn.btn-success.ban {
    margin-top: -8px;
}
.btn-group.admin {
    width: 100%;
}
.admin_menu {
    width: 20%;
    display: inline-table;
}
.klant_right{
  width: 64%;
  float: left;
}
.filmDetail_right {
    width: 20%;
    float: right;
    margin-top: 6px;
}
.edit_film {
    float: left;
}
.slick-arrow{
  background-color: #009688 !important;
  height: 70px;
  width: 30px;
}
.slick-arrow:hover{
  background-color: #009688;
  display:block !important;
}
.slick-slide img {
    display: block;
    margin: 0 auto;
}
h2.textfilmaanbod {
    font-weight: normal;
}
.netToegevoegd {
    text-align: center;
}

.calendarophaaldata {
    text-align:center;
    width:100%;
}


#contact{
    padding:10px 0 10px;
}

.contact-text{
    margin:45px auto;
}

.mail-message-area{
    width:100%;
    padding:0 15px;
}

.mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
}

.not-visible-message{
    height:0px;
    opacity: 0;
}

.visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
}

/* Input Styles */

.form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form:hover{
    border:1px solid #8BC3A3;
}

.form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
}

.textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
}

/* Generic Button Styles */

.button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.button:hover{
    background:#8BC3A3;
    color:white;
}

/* Send Button Styles */

.form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover{
    background:#111;
    color: white;
    border:none;
}

.form-btn:active{
    opacity: 0.9;
}
center{
    margin-top:330px;
}
input {
    position: relative;
    z-index: 9999;
}
.order_info {
    background-color: #009688;
    color: white;
    font-weight: bolder;
    line-height: 3;
    padding-left: 20px;
}
.order_info:hover{
  cursor: pointer;
}
.neer {
    float: right;
    line-height: 3;
    padding-right: 40px;
}
.order_collapse{
  margin-bottom: 20px;
  padding-bottom: 50px;
}
.order_collapse img{
  margin-bottom: 10px
}
.verlengbtn {
    width: 100%;
}
.terug_order {
    float: right;
    margin-top: -18px;
}
